<div *ngIf = "errorMessage" class="alert alert-danger">
  {{errorMessage}}
</div>
<form #formulaire ="ngForm" >
  <label for="fabriquant">Fabriquant</label>
  <input id="fabriquant" type="text" ngModel name="fabriquant" class="form-control">

  <label for="responsable">Responsable</label>
  <input id="responsable" type="text" ngModel name="responsable" class="form-control">

  <label for="disponible">Nombre disponible</label>
  <input required min ="1" id="disponible" type="number" ngModel name="disponible" class="form-control">

  <label for="prix">Prix</label>
  <input required id="prix" type="text" ngModel name="prix" class="form-control">

  <label for="description">Description</label>
  <input id="description" type="text" ngModel name="description" class="form-control">

  <label for="telephone">Telephone</label>
  <input required id="telephone" type="text" ngModel name="telephone" class="form-control">

  <label for="lieu">Situé a</label>
  <input required id="lieu" type="text" ngModel name="lieu" class="form-control">

  <label for="path">Path</label>
  <input  id="Path" type="text" ngModel name="Path" class="form-control">

  <button [disabled]="formulaire.invalid" (click)="addMeub(formulaire.value)" class="btn btn-primary">Envoyer</button>
</form>
